<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Active Manifesto</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

</head>
<script>

// var swipe_data =[
//   {
//       "label": "right",
//       "source": "manifesto",
//       "statement": "Der Verlust von Arbeitspl\u00e4tzen, sinkende Einkommen, Massentierhaltung, Lebensmittelskandale und ein undurchdringlicher Subventionsdschungel machen deutlich: Die Wende zu einer zukunftsf\u00e4higen Landwirtschaft ist \u00fcberf\u00e4llig"
//     },
//     {
//       "label": "left",
//       "source": "manifesto",
//       "statement": "J\u00e4hrlich werden in Landwirtschaft und Gartenbau \u00fcber 100|000 Arbeitspl\u00e4tze abgebaut"
//     }
//   ];

var current_data;
// var swipe_data;

// $.ajax({ url: '/get_samples?n=10', success: function(data) { swipe_data = data; }});

function makeHttpObject() {
  try {return new XMLHttpRequest();}
  catch (error) {}
  try {return new ActiveXObject("Msxml2.XMLHTTP");}
  catch (error) {}
  try {return new ActiveXObject("Microsoft.XMLHTTP");}
  catch (error) {}
  throw new Error("Could not create HTTP request object.");
}

function get_samples() {
    var request = makeHttpObject();
    request.open("GET", "/get_samples?n=10", false);
    request.send(null);
    return JSON.parse(request.responseText)['data'];
}


function swipeAction(right) {
    $('#score').text("Truth: " + current_data.label  + " You: " + right);
    updatePage();
};

function updatePage() {
  if (swipe_data.length > 0 ) {
    current_data = swipe_data.pop();
  $('#result').text(current_data.statement);

}
else {
  $('#result').text("Reload to start over");
};
};

var swipe_data = get_samples()

$(document).on("pagecreate","#pageone",function(){

   updatePage()
   $("p").on("swiperight",function(){ swipeAction("right"); });
   $("p").on("swipeleft",function(){ swipeAction("left"); });
});

    </script>

<body>
  <div data-role="page" id="pageone" style="display: flex;align-items: flex-start;">
  <div data-role="header" class="ui-bar" data-position="fixed">
    <h1>Can you swipe?</h1>
  </div>

  <div data-role="main" class="ui-content"  style="align-self: center;text-align: center;flex: 1;">
    <p>
      <span class="ui-body ui-body-a ui-corner-all" id="result">Swipe left or right</span>
    <p>

  </div>

  <div data-role="footer" class="ui-bar" style="text-align: center;" data-position="fixed">
    <p id="score"></p>
  </div>
</div>
</body>
</html>
