<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Active Manifesto</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.touchSwipe.min.js') }}"></script>
</head>
<script>

  var maxSwipes=10;

  function makeHttpObject() {
    try {return new XMLHttpRequest();}
    catch (error) {}
    try {return new ActiveXObject("Msxml2.XMLHTTP");}
    catch (error) {}
    try {return new ActiveXObject("Microsoft.XMLHTTP");}
    catch (error) {}
    throw new Error("Could not create HTTP request object.");
  }

  function get_samples() {
      var request = makeHttpObject();
      request.open("GET", "/get_samples?n="+maxSwipes, false);
      request.send(null);
      return JSON.parse(request.responseText)['data'];
  }

  function get_news(bias) {
      var request = makeHttpObject();
      request.open("GET", "/get_news?bias="+bias, false);
      request.send(null);
      return JSON.parse(request.responseText);
  }

  function get_topics() {
      var request = makeHttpObject();
      request.open("GET", "/get_topics", false);
      request.send(null);
      return JSON.parse(request.responseText);
  }

  // $( document ).ready(function() {

    var sessionSamples = []
    var swipeCount=0;
    var wrong=0;
    var error_direction=0;
    var started=false;
    var labeled_data = [];

    var sessionSamples = get_samples();
  // });

  $(function() {

    function msg(direction) {
      // finished labelling round
      if(swipeCount >= maxSwipes) {

        $("#political_samples_box").html(
            `<p>Du hast ` + (100 * wrong / (maxSwipes / 2)).toPrecision(3) + "% anders eingeordnet als das Manifesto Projekt.</p>" +
            " <h5> Dein Bias ist: " + map_left_right(error_direction) + "</h5>"
        ).height("auto");

        data = {
            'data': labeled_data
        };
        var request = makeHttpObject();
        request.open("POST", "/user_labels", false);
        request.setRequestHeader("Content-Type", "application/json");
        request.send(JSON.stringify(data));

        var news = get_news(map_left_right_en(-error_direction));

        if (news.length > 0) {
          var news_html = news.map(function(article){
                              return `<div class="row align-items-center">
                              <div class=col align-self-center><a href=`
                                + article.url + `>` + article.title  + `</a>`
                                + "  ("+article.source+`)</div></div>` }).join(" ");

          $("#results_box").html(
            `<div class=container><h5>Hier ein paar Nachrichten von ` + map_left_right(-error_direction) +`</h5>`
            + news_html + `</div>`).height("auto")
        }
        started = false;
        sessionSamples = []
        swipeCount=0;
        wrong=0;
        error_direction=0;
        labeled_data = [];
        sessionSamples = get_samples();

      } else {
        $("#political_samples_box").html(sessionSamples[swipeCount]['statement']).height(200);
        $("#results_box").html(`Falsch: ` + (wrong / swipeCount).toPrecision(2) + " | Bias: " + error_direction + " (" + map_left_right(error_direction) + ")" ).height("auto")
      }
    }

    function map_left_right(direction){
      lr = "neutral";
      if (direction > 0) {lr = "rechts";};
      if (direction < 0) {lr = "links";};
      return lr
    }

    function map_left_right_en(direction){
      lr = "neutral";
      if (direction > 0) {lr = "right";};
      if (direction < 0) {lr = "left";};
      return lr
    }

    function map_label(direction) {
      switch(direction){
        case "left": return -1;
        case "down": return 0;
        case "neutral": return 0;
        case "right": return 1;
        default: return 0;
      }
    }

    function map_label_string(direction) {
      label = direction;
      switch(direction){
        case "down": label = "neutral";
      }
      return label
    }

    function tag_current_statement(direction) {
        if (sessionSamples[swipeCount]['label'] != ""){
          error = map_label(sessionSamples[swipeCount]['label']) - map_label(direction);
          if (error != 0) {
            wrong++;
            error_direction += error;
          }
        }
        else{
          labeled_data.push({
            'text_id': sessionSamples[swipeCount]['text_id'],
            'label': map_label_string(direction)
          });
      }
    }

    $("#swipe").swipe( {
      tap:function(event, target) {
        if(!started) {
          started = true;
          msg();
        }
      },
      swipe:function(event, direction, distance, duration, fingerCount, fingerData) {
        if(started && (direction == 'down' || direction == 'left' || direction == 'right')) {
          tag_current_statement(direction);
          swipeCount++;
          msg(direction);
        }
      },
      threshold:20
    });
  });

function details(){
  $("#results_box").remove()
$("#political_samples_box").html(`<h3>
  Details zum Projekt
</h3>
<a href="#data" class="btn btn-block" data-toggle="collapse">Daten</a>
  <div  id="data" class="collapse">
  <p>Die Daten um das Machine Learning Model zu trainieren sind vom <a href="https://manifesto-project.wzb.eu">Manifesto Projekt</a>, das sind Parteiprogramme, die von Politikwissenschaftlern annotiert wurden. Wir haben alle verfügbaren Daten von Parteien aus Deutschland genommen. </p>
  </div>
  <a href="#model" class="btn btn-block" data-toggle="collapse">Machine Learning Modell</a>
    <div id="model" class="collapse">
    <p> Wir haben ein Lineares Modell für die Vorhersage von Labels und das Active Learning Uncertainty Ranking benutzt. Details zum Active Learning sind beschrieben <a href="https://github.com/felixbiessmann/active-manifesto/raw/master/manuscript/active-manifesto.pdf">in diesem Manuskript</a>, Details zum Modell und der Merkmalsextraktion sind  <a href="https://arxiv.org/abs/1608.02195">in diesem Manuskript</a></p>
    </div>
    <a href="#code" class="btn btn-block" data-toggle="collapse">Code</a>
      <div id="code" class="collapse">
      <p> Der Code dieser Demo und der Experimente ist <a href="https://github.com/felixbiessmann/active-manifesto">auf github</a></p>
      </div>
</ul>`).height("auto")
};

function about(){
$("#results_box").remove()
$("#political_samples_box").html(`
<p>
Ziel des Projekts ist es, Bürgern zu helfen, politischen Bias zu erkennen und damit einen neutralen Blick auf Inhalte zu bewahren.
</p>

<p>
rightornot trägt dazu bei durch:
</p>
<a href="#bias" class="btn btn-block" data-toggle="collapse">Schätzung des Politische Biases</a>
  <div id="bias" class="collapse">

<p>Wie man politische Texte einordnet, kann helfen sich selbst einzuordnen: Wer alles für links hält, ist eher nicht links, und wer alles für rechts hält, ist wohl eher nicht rechts. Bei dem Quiz berechnen wir auf einigen Texten, wie stark und in welche Richtung (links/rechts) ein Nutzer von den Politikwissenschaftlern des Manifesto Projekts abweicht.</p>
</div>

<a href="#annotation" class="btn btn-block" data-toggle="collapse">Annotation von Politischen Texten</a>
  <div id="annotation" class="collapse">
<p> Einige der Texte sind noch nicht annotiert. Wir benutzen <a href="https://en.wikipedia.org/wiki/Active_learning_(machine_learning)">Active Learning</a> um schnell das beste Modell zu trainieren.</p>
<p> Mit den so gewonnenen annotierten Daten können Machine Learning Modelle trainiert werden, die neue Inhalte automatisiert auf politischen Bias untersuchen können. Dies erlaubt eine Empfehlung von Inhalten entprechend des politischen Bias' von Nutzern, um sich gezielt nach anderen Meinungen zu informieren.</p>
</div>
`).height("auto")
};

</script>

<body>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="javascript:window.location.reload(true)">right or not</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" href="javascript:void(0);" onclick="details();">details</a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" href="javascript:void(0);" onclick="about();">about</a>
      </li>
    </ul>
  </div>
</nav>
<div class="jumbotron">
<div class="container">

    <div class="row justify-content-around align-items-center">
        <div class="col-9 align-items-center">

            <div id="swipe" style="height: 80%; background-color: rgba(0,0,0,0.1);">
                <div id="political_samples_box" class="text-center">
                    <p>Wir zeigen einige politische Texte.
                    </p>
                    <p>
                      Swipe
                    </p>
                    <ul>
                        <li><b>links</b> wenn Du den Text links fandest</li>
                        <li><b>runter</b> wenn Du den Text neutral fandest</li>
                        <li><b>rechts</b> wenn Du den Text rechts fandest</li>
                    </ul>
                    <p>Klicke um zu starten</p>
                </div>
            </div>
            </div>
            </div>

      <div class="row justify-content-around  align-items-center">
          <div class="col-9 align-items-center">
            <div id="results_box" class="text-center" style="background-color: rgba(0,0,0,0.2);">
            </div>
        </div>
    </div>

</div>
</div>
</body>
</html>
