<!doctype html>
<head>
<title>{% block title %}Welcome{% endblock %} | Flask OAuth Example</title>
<link rel=stylesheet type=text/css href="{{ url_for('static',
  filename='style.css') }}">
</head>
<body>
<h1>Active Manifesto twitter-integration</h1>
<ul class=navigation>
  <li><a href="{{ url_for('twitter_index') }}">overview</a></li>
  {% if g.user %}
  <li><a href="{{ url_for('twitter_logout') }}">sign out [{{ g.user.screen_name}}]</a></li>
  {% else %}
  <li><a href="{{ url_for('twitter_login') }}">sign in</a></li>
  {% endif %}
</ul>
{% for message in get_flashed_messages() %}
  <p class=message>{{ message }}</p>
{% endfor %}
{% block body %}{% endblock %}

  <h2>Overview</h2>
  {% if g.user %}
    <p>
      Hello {{ g.user.screen_name }}!
    </p>
    {% if tweets %}
    <h3>Your Timeline</h3>
    <ul>
    {% for tweet in tweets %}
      <li><b>Model labels: {{ tweet.labels }}</b>. <a href="http://twitter.com/{{ tweet.user.screen_name }}">{{ tweet.user.screen_name }}</a>: {{ tweet.text|urlize }}</li>
    {% endfor %}
    </ul>
    {% endif %}
  {% else %}
    <p>
      Sign in to view your public timeline with political bias estimations.
    </p>
    <p>
      <a href="{{ url_for('twitter_login') }}"><img src="{{
        url_for('static', filename='sign-in.png') }}" alt="sign in"></a>
    </p>
  {% endif %}
</body>
</html>
